---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>        
        <h1>Summary. Tools used for this project</h1>    
        <p>Visual Studio Code</p>
        <p>Git</p>
        <p>Github</p>
        <p>Node.js. Runtime environment to create servers, web apps, command line tools and scripts</p>
        <p>Npm. Package Manager</p>
        <p>Netlify. Deployment platform</p>
	</body>
</html>
